@import "../../../scss/variables";

.header-container{
    background: $primary-color;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;    
    height: 80px;
    padding-left: $padding-x;
    padding-right: $padding-x;
    @media (max-width: $breakpoint-medium) {
        padding-left: $padding-x-medium;
        padding-right: $padding-x-medium;
    }
}
.header-container a {
    text-decoration: none;
}

.header-container a:hover {
    color: $secondary-text-color;
}

.nav-container{
    width: 100%;
}

.show{
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: $btn-disabled-background;
}

nav{
    margin-right: -16px;
    @media (max-width: $breakpoint-large) {
        margin-right: -12px;
    }
}