@import "../../../scss/variables";

.header-container{
    background: $primary-color;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;    
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: $padding-x;
    padding-right: $padding-x;
    @media (max-width: $breakpoint-medium) {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.header-container a {
    text-decoration: none;
}

.header-container a:hover {
    color: $secondary-text-color;
}