@import "../../../scss/variables";

.home-container{
    height: 300px;
    padding-left: $padding-x;
    padding-right: $padding-x;
    @media (max-width: $breakpoint-medium) {
        padding-left: $padding-x-medium;
        padding-right: $padding-x-medium;
    }
}