$breakpoint-small: 576px;

$breakpoint-medium: 768px;

$breakpoint-large: 992px;

$primary-color:  #b3b3b3;

$primary-text-color: #262626;

$secondary-text-color: #595959;

$input-background: rgb(235, 227, 227);

$btn-background: rgb(141, 141, 146);  

$btn-disabled-background: rgb(238, 238, 238);

$btn-disabled-color: rgb(153, 153, 153);

$trow-background: rgb(247, 244, 244);

$trow-hover-background: rgb(180, 179, 179);

$padding-x: 100px;

$padding-x-medium: 10px;