<div class="d-flex justify-content-center">
    <div class="form-container">
        <h2 class="text-center large-text">Please login to proceed</h2>
        <span class="text-center">{{errorMsg}}</span>
        <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">

            <label for="email">Email: </label>  
            <span *ngIf="emailInput.invalid && emailInput.touched"> Please enter valid email</span>
            <input 
                #emailInput="ngModel"
                ngModel
                type="email" 
                name="email"
                class="form-control" 
                required 
                email/>
          
            <label for="password">Password: </label>
            <span *ngIf="passwordInput.invalid && passwordInput.touched"> Password must be at least 6 characters</span>
            <input type="password"
                #passwordInput="ngModel" 
                ngModel
                name="password" 
                class="form-control" 
                minlength="6" 
                required/>
    
            <div class="d-flex justify-content-center">
                <button class="btn" type="submit" id="btn-login" [disabled]="!loginForm.valid">Login</button>
            </div>
          
        </form>
    </div>
</div>

