<div class="container-fluid footer-container">
    <div class="row">
        <p class="col-12 col-md-4 order-1 small-text text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum quos, error distinctio repudiandae aliquam quasi dolore aperiam ut. A, nesciunt dolorem? Nam eaque in facilis voluptate hic eligendi quibusdam deleniti!</p>
        <div class="col-12 col-md-4 order-3 order-md-2 small-text d-flex justify-content-center">
            <ul>
                <li>About</li>
                <li>Services</li>
                <li>Careers</li>
                <li>Pricing</li>
                <li>Contacts</li>
            </ul>
        </div>
        
        <p class="col-12 col-md-4 order-2 order-md-3 small-text text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum quos, error distinctio repudiandae aliquam quasi dolore aperiam ut. A, nesciunt dolorem? Nam eaque in facilis voluptate hic eligendi quibusdam deleniti!</p>        
    </div>
    <p class="mt-3 text-center small-text">This is a footer</p>
</div>
