@import "../../../scss/variables";

.table-container{
    min-height: 300px;
    padding-left: $padding-x;
    padding-right: $padding-x;
    @media (max-width: $breakpoint-medium) {
        padding-left: $padding-x-medium;
        padding-right: $padding-x-medium;
    }
}

.emp-table{
    overflow-x: auto;
}

.employee-row:nth-child(odd) {
    background: $trow-background;
}

.employee-row:hover{
    background: $trow-hover-background;
}

a{
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid black;
    cursor: pointer;
    background: $btn-disabled-background;
}

a:hover {
    color: $primary-text-color;
    background: $btn-background;
}
