<div class="table-container container-fluid d-flex align-items-center justify-content-center py-3">
    <p *ngIf="errorMsg" class="large-text" style="color: red;">{{errorMsg}}</p>
    <p *ngIf="employees.length==0 && !errorMsg" class="large-text">{{notification}}</p>
    <div *ngIf="employees.length>0" class="emp-table" style="width: 100%">        
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Addres</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Department</th>
                  <th scope="col">Position</th>
                  <th scope="col">Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees" class="employee-row">
                    <td class="small-text">{{employee.name}}</td>
                    <td class="small-text">{{employee.address}}</td>
                    <td class="small-text">{{employee.phone}}</td>
                    <td class="small-text">{{employee.department_name}}</td>
                    <td class="small-text">{{employee.position_name}}</td>
                    <td class="small-text">${{employee.salary}}</td>      
                    <td><a class="small-text p-1" routerLink="/edit-employee/{{employee.id}}">Edit</a></td>                                    
                </tr>                            
            </tbody>
        </table>
    </div>
</div>
